@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


/* styles/globals.css */
/* Custom scrollbar */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  /* background: transparent;  */
  background-color: rgb(170, 165, 245);
}

::-webkit-scrollbar-thumb {
  background-color: #201cee; 
  border-radius: 10px; 
  border: 2px solid transparent; 
}

body {
  overflow: hidden; 
}

body:hover {
  overflow-y: auto; 
}


/* text animation */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

.typing-animation {
  width: fit-content;
  display: inline-block;
  animation: typing 6s steps(38, end) forwards;
  /* border-right: 2px solid; */
}

.typing-container {
  display: inline-block;
}

/* .typing-container.typing .typing-animation {
  animation: typing 6s steps(40, end), blink 0.75s step-end infinite;
} */
